* {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

/*-----------------------------------------------
Link
------------------------------------------------*/
Link:hover {
  color: aliceblue !important;
}

/*-----------------------------------------------
model form 
------------------------------------------------*/
.ModalBody .form-group > input {
  width: 100%;
}

/*-----------------------------------------------
nav circle alphabet design
------------------------------------------------*/
#alpha {
  width: 60px;
  /* line-height: 120px; */
  border-radius: 50%;
  text-align: center;
  font-size: 32px;
  border: 2px solid rgb(250, 250, 250);
  font-size: large;
  font-weight: 600;
}
#alpha Link:hover {
  text-decoration: none !important;
}
#alpha:hover {
  color: aliceblue;
}

/*-------------------------------------------------
hover effect on icons
--------------------------------------------------*/
i:hover {
  color: #17a2b8;
  cursor: pointer;
}

/*--------------------------------------------------
error message
---------------------------------------------------*/
.errMsg {
  color: red;
}

/*--------------------------------------------------
pagination 
---------------------------------------------------*/
.page-link:hover {
  background-color: #17a2b8;
  color: aliceblue;
}
