* {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

/*-----------------------------------------------
login page 
------------------------------------------------*/
.login-container {
  min-height: 59.5vh;
}

/*-----------------------------------------------
login form 
------------------------------------------------*/

.form-group > input {
  width: 120%;
}

/*-----------------------------------------------
model form 
------------------------------------------------*/
.ModalBody .form-group > input {
  width: 100%;
}

/*-----------------------------------------------
nav circle alphabet design
------------------------------------------------*/
#alpha {
  width: 60px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  font-size: 32px;
  border: 2px solid #666;
  font-size: large;
  font-weight: 600;
}
