* {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

Body {
  margin: 0px;
}

.login-container {
  min-height: 59.5vh;
}

.form-group > input {
  width: 120%;
}

.ModalBody .form-group > input {
  width: 100%;
}

#alpha {
  width: 60px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  font-size: 32px;
  border: 2px solid #666;
  font-size: large;
  font-weight: 600;
}
